.Container{
	top:0;
	left:0;
	right:0;
	max-height:60px;
	position:fixed;
	display:flex;
	align-items: center;
	justify-content:space-between;
	padding:20px 20px;
	z-index:1;
}

.Menu{
	display:flex;
	align-items:center;
	justify-content:center;
	flex:1;
}
.Menu a{
	font-weight:600;
	text-transform:uppercase;
	padding:0 10px;
	flex-wrap: nowrap;
}

@media(max-width:768px){
	.Menu a{
		display:none;
	}
}

.RightMenu{
	display:flex;
	align-items:center;
}

.RightMenu a{
	font-weight:600;
	text-transform:uppercase;
	margin-right:10px;
	flex-wrap: nowrap;
}

.CustomMenu{
	cursor:pointer;
}

.BurgerNav{
	position:fixed;
	top:0;
	bottom:0;
	right:0;
	background:white;
	width:300px;
	z-index:16;
	list-style:none;
	padding:20px;
	display:flex;
	flex-direction:column;
	
	trannsition:transform 0.2s;
}
.BurgerNav li{
	padding:15px 0;
	border-bottom:1px solid rgba(0,0,0,0.2);
}

.BurgerNav a{
	font-weight:600;
}

.CloseWrapper{
	display:flex;
	justify-content: flex-end;
}

.CustomClose{
	cursor:pointer;
}
